@import "./src/styles/variables.module";

.wrap {
  margin-top: 70px;
  padding: 67px 43px 158px;

  @include tabletLarge {
    margin-top: 20px;
    padding:40px 40px 150px 40px;
  }

  @include tabletSmall {
    margin-top: 0;
    padding: 20px;
  }


}
