@import "./src/styles/variables.module";

.wrap {
  margin-top: 40px;

  @include tabletLarge {
    margin-top: 0;
  }
}

.subtitleWrap {
  display: flex;
  align-items: center;
  width: 323px;
  height: 155px;

  @include tabletSmall {
    height: 115px;
    margin-bottom: -40px;
  }

}
