
.regular {
  font-family: 'Rubik-Regular', sans-serif;
}

.italic {
  font-family: 'Rubik-Italic', sans-serif;
}

.light {
  font-family: 'Rubik-Light', sans-serif;
}

.lightItalic {
  font-family: 'Rubik-LightItalic', sans-serif;
}

.medium {
  font-family: 'Rubik-Medium', sans-serif;
}

.mediumItalic {
  font-family: 'Rubik-MediumItalic', sans-serif;
}

.s {
  font-size: 14px;
}

.m {
  font-size: 16px;
}

.l {
  font-size: 20px;
}

.xl {
  font-size: 42px;
}


