@import 'variables.module';

.regular {
  font-family: $rubik-regular;
}

.italic {
  font-family: $rubik-italic;
}

.light {
  font-family: $rubik-light;
}

.lightItalic {
  font-family: $rubik-light-italic;
}

.medium {
  font-family: $rubik-medium;
}

.mediumItalic {
  font-family: $rubik-medium-italic;
}


