.wrap {
  width: 522px;
  height: 165px;
  border-width: 1px;
  border-style: solid;
  display: flex;

  img {
    width: 194px;
    object-fit: cover;
  }
}

.textWrap {
  padding: 23px 25px 12px 31px
}
