@import "./src/styles/variables.module";

.wrap {
  width: 522px;
  height: 165px;
  border-width: 1px;
  border-style: solid;
  display: flex;

  img {
    width: 194px;
    object-fit: cover;

    @include phoneLarge {
      width: 154px;
    }

    @include tabletSmall {
      width: 154px;
    }
  }

  @include phoneLarge {
    width: 100%;
    height: auto;
    margin-bottom: $px30;
  }

  @include tabletSmall {
    width: 100%;
    height: auto;
    margin-bottom: $px30;
  }

  @include tabletLarge {
    margin-bottom: $px30;

  }

}

.textWrap {
  padding: 23px 25px 12px 31px;

  @include phoneLarge {
    padding: $px10
  }

  @include tabletSmall {
    padding: $px10
  }
}
