@import "./src/styles/variables.module";

.wrap {
  width: 522px;
  height: 165px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  margin-bottom: 30px;

  img {
    width: 194px;
    object-fit: cover;


    @include tabletSmall {
      width: 154px;
    }
  }

  @include tabletSmall {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  @include tabletLarge {
    margin-bottom: 30px;

  }

}

.textWrap {
  padding: 23px 25px 12px 31px;

  @include tabletSmall {
    padding: 10px
  }
}
