@import "./src/styles/variables.module";

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 194px;
  margin-top: 140px;

  @include phoneLarge {
    width: 100%;
    img {
      &:first-of-type {
        width: 30px;
      }

      &:last-of-type {
        width: 120px;
      }

      object-fit: scale-down;
    }
  }

  @include tabletSmall {
    width: 100%;

    img {
      &:first-of-type {
        width: 30px;
      }

      &:last-of-type {
        width: 120px;
      }

      object-fit: scale-down;
    }
  }

  @include tabletLarge {
    margin-top: $px30;
    img {
      &:first-of-type {
        width: 40px;
      }

      &:last-of-type {
        width: 150px;
      }

      object-fit: scale-down;
    }
  }

}

.line {
  margin-right: 35px;
  z-index: 1;

  @include phoneLarge {
    margin-right: 25px;
  }

  @include tabletSmall {
    margin-right: 25px;
  }

  @include tabletLarge {
    margin-right: 30px;

  }
}

.logo {
  margin-top: -25px;

  @include phoneLarge {
    margin-top: -15px;
  }

  @include tabletSmall {
    margin-top: -15px;
  }

  @include tabletLarge {
    margin-top: -18px;
  }
}
